<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Error - Friend Tracker</title>
    <meta description='Error Page for Friend Tracker App'
    <meta charset='utf-8'/>
    {% load staticfiles %}
</head>
<body>
    <div id='wrapper'>
        <div id="nav">
            <p>This app does not support private browsing. Requires: Cookies. </p>
            <br>
            <img src='{% static 'friend/CookieMonster.jpg' %}' alt='cookie monster, cookies required.'
        </div>
    </div>
    <div id="footer">
        <p><font size="1">by: Troy Center, Coding Dojo Student, June 2017</font></p>
    </div>
</body>
</html>